<!DOCTYPE html>
<html lang="en">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- <script src="../static/js/script.js"></script> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
    />

    <script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"
    ></script>

    <title>Chat</title>
  </head>
  <body style="background-image: none;">
    <header>
      <div class="">
        <a href=""><img src="../static/logo.png" height="120px"></a>
      </div>
      <nav>
        <ul>


          <form action="/">
            <form action="/history"</form>
            <form action="/speech"</form>
              
          <li><a href="#">Home</a></li>
          <form action="/">
            <input type="submit" class="" value="Home">
          </form>

          <li><a href="#info">History</a></li>
          <form action="/history">
            <input type="submit" class="" value="History">
          </form>
         
          <li><a href="#contact">Speech</a></li>
         
          <form action="/Speech">
            <input type="submit" class="" value="Speech">
          </form>
         
          <li><a href="#login">Dashboard</a></li>
        </ul>
      </nav>
      <div class="signup">
        <a href="/signup">Sign Up</a>
      </div>
    </header>


    <!--  main content -->
    <div class="text-black">
      Grade: {{ grade }}
      <br>
      Language: {{ language }}
      <br>
      Level: {{ level }}
      <br>
      {{ tip }}
      <br>
      { { link } }
    </div>
    
    <section
      class="gradient-custom h-100"
      style="position: relative; left: 250px">

      </div>
        <div class="container py-5">
        <div class="col-md-6 col-lg-7 col-xl-7">
            <ul class="list-unstyled text-white">
              {% for message in convo %}
                {% if message.sender == 'BOT' %}
                <li class="d-flex justify-content-between mb-4">
                  <img src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" alt="avatar"
                    class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                  <div class="card mask-custom">
                    <div class="card-header d-flex justify-content-between p-3"
                      style="border-bottom: 1px solid rgba(255,255,255,.3);">
                      <p class="fw-bold mb-0">SpeakEasy Bot</p>
                      <p class="text-light small mb-0"></p>
                    </div>
                    <div class="card-body">
                      <p id="message" class="mb-0">
                        {{ message.message }}
                      </p>
                    </div>
                  </div>
                </li>
                {% endif %}
                
                {% if message.sender == 'USER' %}
                <li class="d-flex justify-content-between mb-4">
                  <div class="card mask-custom w-100">
                    <div class="card-header d-flex justify-content-between p-3"
                      style="border-bottom: 1px solid rgba(255,255,255,.3);">
                      <p class="fw-bold mb-0">User</p>
                      <p class="text-light small mb-0"></p>
                    </div>
                    <div class="card-body">
                      <p class="mb-0">
                        {{ message.message  }}
                      </p>
                    </div>
                  </div>
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                    class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                </li>
                {% endif %}
                
              {% endfor %}
            </ul>

          </div>

        </div>
    </section>


    <footer>
      <div class="footer-content">
        <p>&copy; 2023 SpeakEasy</p>
      </div>
    </footer>
  </body>

  <script src="../static/js/converse.js"></script>

</html>
