<link rel="stylesheet" href="../static/css/style.css" />
<body class="custom -body">
  <header>
    <div class="">
      <a href=""><img src="../static/logo.png" height="120px"></a>
    </div>
    <nav>
      <ul>


        <form action="/">
          <form action="/history"</form>
          <form action="/speech"</form>
            
        <li> <form action="/">
          <input type="submit" class="" value="Home">
        </form></li>
       

        <li>
          <form action="/history">
            <input type="submit" class="" value="History">
          </form>
        </li>
       
        <li>
          <form action="/Speech">
            <input type="submit" class="" value="Speech">
          </form>
        </li>
       
        <form action="/Speech">
          <input type="submit" class="" value="Speech">
        </form>
       
        
      </ul>
    </nav>
    <div class="signup">
      <a href="/signup">Sign Up</a>
    </div>
  </header>
    

<form action="/login">
    <input type="submit" value="Login">
</form>
</body>

<footer>
    <div class="footer-content">
      <p>&copy; 2023 SpeakEasy</p>
    </div>
  </footer>
</body>