<link rel="stylesheet" href="../static/css/style.css" />
<body class="custom -body">
  <header>
    <div class="">
      <a href=""><img src="../static/logo.png" height="120px"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#info">About</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#login">Dashboard</a></li>
      </ul>
    </nav>
    <div class="signup">
      <a href="/signup">Sign Up</a>
    </div>
  </header>
    

<form action="/login">
    <input type="submit" value="Login">
</form>
</body>

<footer>
    <div class="footer-content">
      <p>&copy; 2023 SpeakEasy</p>
    </div>
  </footer>
</body>